body {
  color: #444;
  font-family: Verdana, Geneva, Kalimati, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 22px;
}

.boxcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.mainbox {
  @extend .boxcontainer;
  width: 100%;
}

.normalfont {
  font-weight: normal;
}

.updateok {
  color: inherit;
}

.updatenok {
  color: darkred;
}

.openport {
  color: green;
  font-weight: bold;
}

td {
  padding-bottom: 8px;
}

.box {
  border: 1px solid grey;
  padding: 5px 10px;
  flex: 1 0 auto;
  margin: 5px;
}

.superbox {
  @extend .box;
  width: 90%;
  order: 1;
}

.largebox {
  @extend .box;
  width: 500px;
  order: 2;
}

.smallbox {
  @extend .box;
  width: 350px;
  max-width: 700px;
  order: 3;
  table {
    width: 97%;
  }
  td:first-child {
    width: 40%;
  }
}

#services td:first-child {
  width: 70%;
}

#networklist {
  tr:first-child td {
    font-weight: bold;
  }
  td {
    width: inherit;
  }
}

div#data span {
  font-weight: bold;
}

.outer {
  height: 20px;
  width: 100%;
  background-color: lightgray;
}

.inner {
  height: 20px;
  width: 50%;
  background-color: green;
  margin-left: auto;
  margin-right: 0;
  color: white;
  font-weight: bold;
  text-align: right;
}

#diskouter {
  @extend .outer;
}

#memouter {
  @extend .outer;
}

#avg1outer {
  @extend .outer;
}

#avg5outer {
  @extend .outer;
}

#avg15outer {
  @extend .outer;
}

#diskinner {
  @extend .inner;
}

#meminner {
  @extend .inner;
}

#avg1inner {
  @extend .inner;
  margin-left: 0;
  margin-right: auto;
  background-color: darkred;
}

#avg5inner {
  @extend .inner;
  margin-left: 0;
  margin-right: auto;
  background-color: darkred;
}
#avg15inner {
  @extend .inner;
  margin-left: 0;
  margin-right: auto;
  background-color: darkred;
}

#loadavg {

  width: 100%;
  tr {
    td:first-child {
      width: 20%;
    }
    td:nth-child(2) {
      width: 70%;
    }
  }
}