body {
  color: #444;
  font-family: Verdana, Geneva, Kalimati, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 22px;
}

.boxcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mainbox {
  @extend .boxcontainer;
  width: 100%;
}

.normalfont {
  font-weight: normal;
}

td {
  padding-bottom: 8px;
}

.box {
  border: 1px solid grey;
  padding: 5px 10px;
  flex: 1 0 auto;
  margin: 5px;
}

.superbox {
  @extend .box;
  width: 90%;
  order: 1;
}

.largebox {
  @extend .box;
  width: 400px;
  order: 2;
}

.smallbox {
  @extend .box;
  width: 200px;
  order: 3;
}

div#data span {
  font-weight: bold;
}
