.boxcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mainbox {
  @extend .boxcontainer;
  width: 100%;
  background: #ddd;
}


.box {
  border: 1px solid grey;
  padding: 5px 10px;
  flex: 1 0 auto;
  margin: 5px;
}

.superbox {
  @extend .box;
  color: blue;
  width: 90%;
  order: 1;
}

.largebox {
  @extend .box;
  color: blue;
  width: 400px;
  order: 2;
}

.smallbox {
  @extend .box;
  color: green;
  width: 200px;
  order: 3;
}
